*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.container {
    
    width: 100%;
    justify-content: center;
    align-items: center;
    display:flex;
    background-color: aqua;
    height:100vh;
}

.form_container {
    width:30vw;
    height:80vh;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding:10px;
}
.create_form input,.update_form input{
    padding: 8px;
    font-size: 15px;
}
.create_form button,.update_form button{
    padding: 10px;
    background-color: palevioletred;
    color:black;
    
}
.create_form button:hover,.update_form button:hover{
    background-color: palevioletred;
    cursor:pointer;
}
.create_form,.update_form{
    display: none;
}
.addbtn{
    padding: 8px;
    background-color:pink;
    color: black;
    font-size: 15px;
}
.addbtn:hover{
    background-color: palevioletred;
    cursor: pointer;
}
.table{
    margin-top:10px;
    width:100%;
}


@media screen and (max-width:400px) {
    .form_container{
        width:95vw;
    }
    .create_form input,.update_form input{
        width:100%;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 800px){
    .form_container{
        width: 70vw;
    }
}


